<div>
    <div id="teacher-course-table-wrapper" class="direction-second container-wrapper">
    <div class="table-wrapper"</div>
    </div>
</div>
<script type="text/javascript" src="__ROOT__/public/js/teacher/teacher_course_manage.js"></script>