/************************
* Admin Account Manage CSS
*************************/
#account-check-text{
	font-size: 18px;
	margin:20px 20px 0px 20px;
}

.account-search-form{
	margin: 10px 20px 20px 20px;
}

#account-form-name input[type="text"]{
	border-left: 20px;
	margin-left: 20px;
}

#account-search-form#account-manage-submit-btn{
	height: 28px;
	line-height: 28px;
	padding: 0 15px;
}