/************************
* Admin Course Manage
*************************/

.course-student-body{
	width: 1000px;
	text-align: center;
}

#course-search-form {
	margin: 30px 0;
}

#course-search-form .form-item-name {
	float: left;
}

#course-search-form select {
	float: left;
	margin-right: 5px;
	padding-left: 5px;
	width: 100px;
}

#course-search-form input[type="text"] {
	padding: 0 5px;
}


#course-form-keyword {
	margin-right: 10px;
}

#course-form-course-type {
	margin-left: 10px;
}

#course-manage-submit-btn {
	float: right;
	height: 28px;
	line-height: 28px;
	padding: 0 15px;
}

#course-manage-table {
	background-color: #fff;
	margin: 0px 0;
	width: 100%;
}

#course-manage-table thead tr th {
	background-color: #eee;
	color:#000;
	font-weight:500;
}

#course-manage-table th,
#course-manage-table td {
	border: 1px solid #e8e8e8;
	padding: 5px 10px;
	text-align: left;
}

#course-manage-table th {
	border-color: transparent;
}

#import-grade-btn {
	display: inline;
}

.course-manage-footer {
    margin-top:20px;
	width: 100%;
}

#import-grade-form {
	float: left;
}

.course-manage-footer .page-nav {
	float: right;
}

.page-current {
	margin: 0 10px;
}