/************************
* Admin Credit Manage
*************************/

#credit-search-form {
	margin: 20px 0;
}

#credit-search-form .form-item-name {
	float: left;
}

#credit-search-form select {
	float: left;
	margin-right: 5px;
	padding-left: 5px;
	width: 100px;
}

#credit-search-form input[type="text"] {
	padding: 0 5px;
}


#credit-form-keyword {
	margin-right: 20px;
}

#credit-form-credit-type {
	margin-left: 20px;
}

#credit-manage-submit-btn {
	float: right;
	height: 28px;
	line-height: 28px;
	padding: 0 15px;
}

#import-grade-btn {
	display: inline;
}

.credit-manage-footer {
	
	width: 100%;
}

#import-grade-form {
	float: left;
}

.credit-manage-footer .page-nav, .direction-manage-footer .page-nav {
	float: right;
}

.page-current {
	margin: 0 10px;
}