/************************
* Admin Student Manage
*************************/

#student-search-form {
	margin: 20px 0;
}

#student-search-form .form-item-name {
	float: left;
}

#student-search-form select {
	float: left;
	margin-right: 5px;
	padding-left: 5px;
	width: 100px;
}

#student-search-form input[type="text"] {
	padding: 0 5px;
}


#student-form-keyword {
	margin-right: 20px;
}

#student-form-student-type {
	margin-left: 20px;
}

#student-manage-submit-btn {
	float: right;
	height: 28px;
	line-height: 28px;
	padding: 0 15px;
}

#student-manage-table {
	background-color: #fff;
	margin: 0px;
	width: 100%;
}

#student-manage-table thead tr th {
	background-color: #eee;
	color: #000;
	font-weight: normal;
}

#student-manage-table th,
#student-manage-table td {
	border: 1px solid #e8e8e8;
	padding: 5px 10px;
	text-align: left;
}

#student-manage-table th {
	border-color: transparent;
}

#import-grade-btn {
	display: inline;
}

.student-manage-footer {

	width: 100%;
}

#import-grade-form {
	float: left;
}

.student-manage-footer .page-nav {
	float: right;
}

.page-current {
	margin: 0 10px;
}