<div class="u-info-wrap">
         <div class='page-header'><div class='page-header-title'>个人信息(*为可修改)</div></div>
        <form class="clearfix" id="single-student-form">
            <div class="form-wrapper clearfix">
                <div class="form-item">
                    <span class="form-item-name">姓名</span>
                    <span class="form-item-value" id="single-student-form-name"></span>
                </div>
                <div class="form-item">
                    <span class="form-item-name">电话*</span>
                    <input class="form-item-value" id="single-student-form-phone" >
                </div>
                <div class="form-item">
                    <span class="form-item-name">学号</span>
                    <span class="form-item-value" id="single-student-form-id"></span>
                </div>
                <div class="form-item">
                    <span class="form-item-name">邮箱*</span>
                    <input class="form-item-value" id="single-student-form-email">
                </div>
                <div class="form-item">
                    <span class="form-item-name">方向</span>
                    <span class="form-item-value" id="single-student-form-direction"></span>
                </div>
                <div class="form-item">
                    <span class="form-item-name">是否为优秀学生</span>
                    <span class="form-item-value" id="single-student-form-good"></span>
                </div>
                <div class="form-item">
                    <span class="form-item-name">性别</span>
                    <span class="form-item-value" id="single-student-form-sex"></span>
                </div>
                <div class="form-item">
                    <span class="form-item-name">是否已进实验室</span>
                    <span class="form-item-value" id="single-student-form-lib"></span>
                </div>
                <div class="form-item">
                    <span class="form-item-name">年级</span>
                    <span class="form-item-value" id="single-student-form-grade"></span>
                </div>
                <div class="form-item">
                    <span class="form-item-name">已选学分</span>
                    <span class="form-item-value" id="single-student-form-select-credit"></span>
                </div>
                <div class="form-item">
                    <span class="form-item-name">班级</span>
                    <span class="form-item-value" id="single-student-form-class"></span>
                </div>
                <div class="form-item">
                    <span class="form-item-name">已修学分</span>
                    <span class="form-item-value" id="single-student-form-pass-credit"></span>
                </div>
            </div>
           
            <div id = "error" style="display:none; color:#F00;"></div>
           
            <div class="modify-wrapper">
                <button class="btn u-btn" id="modify-btn">修改</button>
            </div>
            <div class="save-wrapper">
                <button class="btn u-btn" id="save-btn">保存</button>
                <button class="btn u-btn" id="reset-btn">重置</button>
                <button class="btn u-btn" id="cancel-btn">取消</button>
            </div>
        </form> 
    </div>

<script type="text/javascript" src="__ROOT__/public/js/student/student_info.js"></script>
