<div class="direction-third container-wrapper">
    <div class="table-wrapper" id="direction-third-selected-table-wrapper"></div>
    <div class="table-wrapper" id="direction-third-table-wrapper"></div>

    <!-- <div class="direction-third-footer clearfix">
        <input type="button" class="direction-third-submit btn btn-sm u-btn" value="提交">
    </div> -->

    <div class="direction-third-footer clearfix">
        <!--
        <div class="page-nav u-fr">
            <a href="#" class="page-nav-prev btn btn-sm u-btn">上一页</a>
            <input class="page-current" value=""></span>
            <a href="#" class="page-nav-next btn btn-sm u-btn">下一页</a>
            <a href="" class="page-nav-goto hide"><span class="text">提交</span></a>
        </div>
        -->
        <div class="u-fl">
            <input type="button" class="direction-third-submit btn btn-sm u-btn" value="提交">
        </div>
    </div>
</div>
<script type="text/javascript" src="__ROOT__/public/js/student/show_direction_third.js"></script>