<div class="direction-second container-wrapper">
    <div class="table-wrapper" id="direction-selected-table-wrapper"></div>

    <div class="table-wrapper" id="direction-second-table-wrapper"></div>

    <div class="direction-second-footer clearfix">
        <input type="button" class="direction-second-submit btn btn-sm u-btn" value="提交">
    </div>
</div>
<script type="text/javascript" src="__ROOT__/public/js/student/show_direction_second.js"></script>