<div class="direction-first container-wrapper">
    <div class="table-wrapper" id="direction-first-table-wrapper">
        <table class="table table-striped table-hover u-table" id="direction-first-table">
            <tbody>
                <tr>
                    <td>第一志愿</td>
                    <td>
                        <select class="input-small" id="direction-first-wishone">
                            <option data-id='-1'>请选择</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>第一志愿</td>
                    <td>
                        <select class="input-small" id="direction-first-wishtwo">
                            <option data-id='-1'>请选择</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>第一志愿</td>
                    <td>
                        <select class="input-small" id="direction-first-wishthree">
                            <option data-id='-1'>请选择</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="direction-first-footer clearfix">
        <input type="button" class="direction-first-submit btn btn-sm u-btn" value="提交">
    </div>
</div>
<script type="text/javascript" src="__ROOT__/public/js/student/show_direction_first.js"></script>