/************************
* Single teacher info
*************************/

.single-page {
	background-color: #F0F6F4;
	height: auto;
	margin: 20px auto;
	min-height: 300px;
	width: 800px;
	padding: 2%;
}

.single-page form {
	width: 96%;
}

.single-page form .form-wrapper {
	background-color: #fff;
	margin-bottom: 20px;
}

.single-page form .form-item {
	float: left;
	height: 30px;
	line-height: 29px;
	width: 50%;
}

.single-page form .form-item .form-item-name,
.single-page form .form-item .form-item-value {
	display: block;
	float: left;
	text-align: left;
	text-indent: 1em;
}


.single-page form .form-item .form-item-name {
	position: relative;
	background-color: #ddd;
	border-bottom: 1px solid #fff;
	color: #111;
	width: 35%;
}

.single-page form .form-item .form-item-value {
	border-bottom: 1px solid #e8e8e8;
	width: 65%;
}

.single-page form input,
.single-page form select {
	border: none;
	height: 100%;
	width: 100%;
}

.single-page form .form-item select.form-item-value {
	text-indent: 0.65em;
}

.modify-wrapper,
.save-wrapper {
	float: right;
}

.save-wrapper {
	display: none;
}

.single-page form button {
	border-radius: 0;
	height: 28px;
	line-height: 28px;
	margin-left: 20px;
	padding: 0 15px;
}

.form-item-intro{
	background-color: #55a1eb;
	border-bottom: 1px solid #fff;
	color: #fff;
	width:121px;
	height:auto;
}


textarea{
	border-style:none;
	height:30px;
	width:121px;
	display:block;
	resize:none;
	overflow:auto;
	float:left;
}
/*
.form-item-name-intro{
background-color: #55a1eb;
border-bottom: 1px solid #fff;
color: #fff;
width: 121px;
float:left;
height:30px;
text-indent: 1em;
line-height: 29px;
display:inline;
}
*/
