/***********************
* teacher course student
************************/

.course-studetn-container {
	background-color: #F0F6F4;
	height: auto;
	margin: 20px auto;
	min-height: 300px;
	width: 800px;
	padding: 2%;
}


.course-student-container #course-student-table-wrapper {
	text-align: left;
	width: 96%;
}


#course-student-table thead tr th {
	background-color: #eee;
	color: #000;
	font-weight: normal;
}

#course-student-table th,
#course-student-table td {
	border: 1px solid #e8e8e8;
	padding: 5px 10px;
	text-align: left;
}

#course-student-table th {
	border-color: transparent;
}

.teacher-course-student-footer {
	width: 100%;
}

.teacher-course-student-footer .page-nav {
	float: right;
}

.page-current {
	margin: 0 10px;
}