a,
a:hover {
	color: #4f4f4f;
	text-decoration: none;
}

li {
	list-style: none;
}

input,
select,
textarea {
	font-family: 'Microsoft Yahei', 'Hiragino Sans GB', Arial;
	padding: 0;
}

body {
/*	background-color: #8fadce;  */
	color: #4f4f4f;
	font-family: 'Microsoft Yahei', 'Hiragino Sans GB', Arial;
/*	height: 100%; */
    min-height:800px;
	position:relative;
	width: 100%;
}

#wrap {
	background-color: #303840;  
	height: 100%;
	margin: 0px auto;
	/*width: 1100px;*/
	width:100%;
	min-height:800px;
}

.header {
	width: 100%;
}

.header-logo {
	float: left;
	height: 110px;
	/*width:200px;*/
	width:18%;
	background-image:url(../images/logo-249.png);
	background-position:center;
	background-repeat:no-repeat;
}

.header-nav {
	background-color: #fff;
	float: left;
	height: 110px;
	/*width: 900px;*/
	width: 82%;
}

.header-nav-list {
	float: right;
	margin: 10px;
}

.header-nav-list-item {
	float: left;
	margin-left: 8px;
}

.header-nav-list-item + .header-nav-list-item:before {
	content:"|";
	margin-right: 5px; 
}

.header-nav-list-item-link:hover {
	text-decoration: underline;
}

#header-system-time {
	clear: both;
	float: right;
	margin: 0 10px 10px 10px;
}

#main {
	height: auto;
	float: left;
	width: 100%;
}

.sidebar-list {
	border-bottom: 1px solid #62676b;
	float: left;
	padding: 0;
/*	width: 200px;*/
    width:18%;
}

.sidebar-list-item,
.sidebar-sublist-item {
	overflow: hidden;
	text-indent: 2em;
	width: 100%;
}

.sidebar-list-item + .sidebar-list-item,
.sidebar-sublist-item  {
	border-top: 1px solid #62676b;
} 

.sidebar-list-item-link,
.sidebar-sublist-item-link {
	display: block;
	line-height: 35px;
	width: 100%;
}

.sidebar-list-item-link {
	color: #e8e8e8;
}

.sidebar-list-item-link:hover {
	background-color: #e5e7e6;
	color: #4664a4;
}

.sidebar-list-item-link:before {
	content: "+";
	padding-right: 5px;
}

.sidebar-list-item-active .sidebar-list-item-link {
	background-color: #55a1eb;
}

.sidebar-list-item-active .sidebar-list-item-link:hover {
	background-color: #5cacee;
	color: #e8e8e8;
}

.sidebar-list-item-active .sidebar-list-item-link:before {
	content: "-";
	font-size: 20px;
}

.sidebar-sublist {
	background-color: #e5e7e6;
	display: none;
	padding: 0;
	width: 100%;
}

.sidebar-sublist-item-link {
	color: #363636;
	padding-left: 14px;
}

.sidebar-sublist-item-link:hover {
	color: #4664a4;
}

.sidebar-sublist-item-active .sidebar-sublist-item-link {
	font-weight: bold;
}

#container {
	background-color: #f0f6f4;
	float: left;
	height: auto;
	min-height: 750px;
	/*width: 900px;*/
	width: 82%;
}

.container-wrapper {
	padding: 2%;
	width: 96%;
}



/**************************
*  Utility class
**************************/

.u-btn,
.u-btn:focus {
	background-color: #55a1eb;
	color: #f4f4f4;
}

.u-btn:hover {
	background-color: #5cacee;
	color: #fff;
}

.u-table {
	background-color: #fff;
	font-size: 14px;
	margin: 0px 0px 20px 0px;
	width: 100%;
}

.u-table thead tr th {
	background-color: #eee;
	color:#000;
	border: 1px solid #e8e8e8
	font-weight: normal;
	border: 1px solid #e8e8e8;
}

.u-table th,
.u-table td {
	border: 1px solid #e8e8e8;
	padding: 5px 10px;
	text-align: left;
}

.u-table th {
	border-color: #55a1eb;
}

.u-table-link {
	font-weight: bold;
}

.u-table-link:hover {
	text-decoration: underline;
}

/**************************
*  information style
**************************/
.u-info-wrap {
	margin: 10px auto;
	width: 100%;
}

.u-info-wrap .u-info-item  {
	float: left;
	height: 30px;
	line-height: 29px;
	width: 50%;
}

.u-info-wrap .u-info-item .u-info-title,
.u-info-wrap .u-info-item .u-info-value {
	display: block;
	float: left;
	text-align: left;
	text-indent: 1em;
}

.u-info-wrap .u-info-item .u-info-title {
	position: relative;
	background-color: #eee;
	border-bottom: 1px solid #fff;
	color: #111;
	width: 35%;
}

.u-info-wrap .u-info-item .u-info-value {
	background-color: #fff;
	border-bottom: 1px solid #e8e8e8;
	width: 65%;
}

.u-info-wrap {
	background-color: #f5f5f5;
	height: auto;
	margin: 20px auto;
	min-height: 300px;
	width: 800px;
	padding: 2%;
}

.u-info-wrap form {
	width: 96%;
}

.u-info-wrap form .form-wrapper {
	background-color: #fff;
	margin-bottom: 20px;
}


.u-info-wrap form .form-item {
	float: left;
	height: 30px;
	line-height: 29px;
	width: 50%;
}

.u-info-wrap form .form-item .form-item-name,
.u-info-wrap form .form-item .form-item-value {
	display: block;
	float: left;
	text-align: left;
	text-indent: 1em;
	background-color:#e8e8e8;
}



.u-info-wrap form .form-item .form-item-name {
	position: relative;
	background-color: #ddd;
	border-bottom: 1px solid #fff;
	color: #111;
	width: 35%;
}

.u-info-wrap form .form-item .form-item-value {
	border-bottom: 1px solid #e8e8e8;
	width: 65%;
}

.u-info-wrap form input,
.u-info-wrap form select {
	border: none;
	height: 100%;
	width: 100%;
}

.u-info-wrap form .form-item select.form-item-value {
	text-indent: 0.65em;
}

.modify-wrapper,
.save-wrapper {
	float: right;
}


.save-wrapper {
	display: none;
}

.u-info-wrap form button {
	border-radius: 0;
	height: 28px;
	line-height: 28px;
	margin-left: 20px;
	padding: 0 15px;
}
input[type="file"] {
	display: inline;
	width: 220px;
	border: 1px solid #e8e8e8;
}

.u-tl{
	text-align: left;
}

.u-tr{
	text-align: right;
}

.u-tc{
	text-align: center;
}

.u-fl{
	float: left;
}

.u-fr{
	float: right;
}

.page-current{
	text-align: center;
	width: 60px;
}

.page-header {
  height: 40px;
  background:url(../images/head-bg.png);
  margin: 20px 0 0 0;
  border-radius: 5px 5px 0 0;
  border: none;
}

.page-header-title {
  font-size: 14px;
  color: #eee;
  float: left;
  padding: 9px 0 0 15px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  background-color:#eee;
  text-align:center;
}

tbody {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  background-color:#FFF;
  border-color:#eee;
}

th{
	text-align:left;
}

td{
	border-color:#eee;
}

i.scolor {
  display: inline-block;
  margin-right: 20px;
  width: 35px;
  height: 32px;
  line-height: 25px;
  text-align: center;
  font-size: 20px;
  color: #000;
  border: 2px solid #111;
  border-radius: 30px;
  background: #222;
  speak:none;
}

em.scolor{
	font-size: 20px;
	margin-right:8px;
	vertical-align:central;
}

#course-setting-confirm-table{
	margin-top:20px;
}

#confirm-table-head{
  height: 40px;
  background:url(../images/head-bg.png);
  margin: 20px 0 0 0;
  border: none;
  color:#EEE;
  font-size:14px;
}
