/*=common 通用样式*/
.rposition{position: relative;}
.aposition{position: absolute;}
.fl{float: left;}
.fr{float: right;}

/*=global 本站全局样式*/
html,body{height: 100%;}
body{ background-color: #C2D9E1; font-size: 14px; font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","微软雅黑E8F6F96C59ED1",tahoma,arial,simsun,"宋体B8B4F53"; }
.w1000{width: 1000px;}

/*登陆页面*/
#wrapper{ width: 1300px; margin: 0 auto; background:#fff url(../images/blue-repeat.png) repeat-x 0 187px; min-height: 100%; }
#content{ width: 1300; height: 400px; position: relative; }
#left{ position: absolute; width: 620px; top: 210px; left: 170px; }
#left h1{ height: 80px; background: url(../images/title.png) no-repeat right; text-indent: -10000em; }
#right{ position: absolute; width: 304px; height: 284px; background: url(../images/logon-bg.png) no-repeat; top: 130px; right: 170px; }
#foot{ width: 848px; margin: 130px auto 0; background: url(../images/foot.jpg) no-repeat; }
#foot p{ line-height: 26px; text-align: center; }
#right #login_form{ margin: 103px 0 0 30px; }
#login_form .login_input{ width: 240px; height: 80px; display:inline; }
#username{ border: 0; width: 200px; height: 25px; line-height: 25px; background:url(../images/logon-input.png) no-repeat; padding:8px 0 7px 40px; font-size: 14px; margin-bottom: 1px; }
#password{ border: 0; width: 200px; height: 25px; line-height: 25px; background:url(../images/logon-input.png) no-repeat 0 -40px; padding:8px 0 7px 40px; font-size: 14px; }
#login_form .form_actions{ margin-top: 30px; }
#login_submit{ width: 107px; height: 45px; background: url(../images/logon.jpg) no-repeat; border: 0; margin-right: 20px; cursor: pointer; }
#login_submit:hover{ opacity: 0.9; }
#login_submit:active{ opacity: 0.8; }
#login_reset{ width: 107px; height: 45px; background: url(../images/reset.jpg) no-repeat; border: 0; cursor: pointer; }
#login_reset:hover{ opacity: 0.9; }
#login_reset:active{ opacity: 0.8; }