<?php  include('./App/Tpl/Public/header.html');?>

<div id="wrapper">
  <div id="content">
    <div id="left">
      <h1>软件学院毕业实习跟踪系统</h1>
    </div>
    <div id="right">
      <form id="login_form" action="__URL__/checkLogin" method="POST">
        <div class="login_input">
          <input type="text" placeholder="请输入账号" id="username" name="username">
          <input type="password" placeholder="请输入密码" id="password" name="password" value="">
        </div>
        <div class="form_actions">
          <button type="submit" id="login_submit"></button>
          <button type="reset" id="login_reset"></button>
        </div>
        <input type="hidden" name="__hash__" value="a31fb951acaf47843c4cf4a9b4e5bee7_b5e08db9cd245fd96c2669d03193c472">
      </form>
    </div>
  </div>
  <div id="foot">
    <p>Copyright © 2014 Softwear Engineering</p>
    <p>ADD:广州大学城华南理工大学软件学院</p>
  </div>
</div>

<?php  include('./App/Tpl/Public/footer.html');?>