<div class="course-manage container-wrapper">
        <form class = "search-form form-inline clearfix" id = "course-search-form" role = "form">
            <span class = "form-item-name">关键字：</span>
            <input class = "col-md-3" id ="course-form-keyword" placeholder="课程名字或课程id" type="text" name="keyword">
            <span class="form-item-name">年级：</span>
            <select class="input-small" id="course-form-grade" name="grade">
                <option value="">请选择</option>
            </select>
            <span class = "form-item-name">学期：</span>
            <select class="input-large" id="course-form-semester" name="semester">
                <option value="">请选择</option>
            </select>
            <input class="btn btn-sm u-btn" id="course-manage-submit-btn" type="submit" value="搜索"> 
        </form>

    <div class="table-wrapper" id="course-table-wrapper">
    </div>
        <div class="course-manage-footer clearfix">
        <div class="page-nav">
            <a href="#" class="page-nav-prev btn btn-sm u-btn">上一页</a>
            <input class="page-current" value=""></span>
            <a href="#" class="page-nav-next btn btn-sm u-btn">下一页</a>
            <a href="" class="page-nav-goto hide"><span class="text">提交</span></a>
        </div>
        <div>
            <span>导入课程：</span>
            <input id="import-course-btn" name="import-course-btn" type="file">
            <button id="import-course-submit">上传</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="__ROOT__/public/js/admin/course.js"></script>
