<div class="special-student-manage container-wrapper">
    <div class="table-wrapper" id="special-student-table-wrapper">
        <table class="table table-striped table-hover u-table" id="special-student-manage-table">
            <tbody>
                <tr>
                    <td>实验室学生</td>
                    <td>
                        <input id="import-stu-lib-btn" type="file" name="stu_lib">
                        <button type="button" id="import-stu-lib-submit">提交</button>
                    </td>
                </tr>
                <tr>
                    <td>卓越班&成绩好的学生</td>
                    <td>
                        <input id="import-stu-special-btn" type="file" name="stu_special">
                        <button type="button" id="import-stu-special-submit">提交</button>
                    </td>
                </tr>
                <tr>
                    <td>普通班&成绩好的学生</td>
                    <td>
                        <input id="import-stu-normal-btn" type="file" name="stu_normal">
                        <button type="button" id="import-stu-normal-submit">提交</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="__ROOT__/public/js/admin/upload_special_student.js"></script>
