<div class="course-setting-manage container-wrapper">
    <div class="table-wrapper" id="course-setting-table-wrapper">
        <table class="table table-striped table-hover u-table" id="course-setting-manage-table">
            <tbody>
                <tr>
                    <td>可以选方向的年级：</td>
                    <td>
                        <select class="input-small" id="select-direction-grade" name="grade">
                            <option>请选择</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>卓越班&成绩好的学生比例</td>
                    <td><input type="text" id="special-good-percent" class="col-xs-2 u-tr">%</td>
                </tr>
                <tr>
                    <td>普通班&成绩好的学生</td>
                    <td><input type="text" id="normal-good-percent" class="col-xs-2 u-tr">%</td>
                </tr>
                <tr><td>可以选课的年级：</td>
                <td id="select_grade"></td>
                </tr>
               <!-- <tr>
                    <td>开始筛选:</td>
                    <td>
                    <input type="button" id="first" class="course-setting-manage-submit btn btn-sm u-btn" value="确认第一轮">&nbsp
                    <input type="button" id="second" class="course-setting-manage-submit btn btn-sm u-btn" value="确认第二轮">&nbsp
                    <input type="button" id="third" class="course-setting-manage-submit btn btn-sm u-btn" value="确认第三轮">&nbsp
                    </td>
                </tr>  -->
            </tbody>
        </table>
        
    </div>

    <div class="course-setting-manage-footer clearfix">
        <input id="course-setting-submit" type="button" class="course-setting-manage-submit btn btn-sm u-btn" value="提交">
    </div>
    
    <table class="table table-striped table-hover u-table" id="course-setting-confirm-table">
                 <tr>
                    <td id="confirm-table-head">开始筛选:</td>
                    <td>
                    <input type="button" id="first" class="course-setting-manage-submit btn btn-sm u-btn" value="确认第一轮">&nbsp
                    <input type="button" id="second" class="course-setting-manage-submit btn btn-sm u-btn" value="确认第二轮">&nbsp
                    <input type="button" id="third" class="course-setting-manage-submit btn btn-sm u-btn" value="确认第三轮">&nbsp
                    </td>
                </tr>
        </table>
</div>
<script type="text/javascript" src="__ROOT__/public/js/admin/select_course_setting.js"></script>