 <div>
    <div id = "account-check-text">查询账号重置密码</div>
    <div>
        <form action="__ROOT__/index.php/AccountData/get_name_a"  class = "account-search-form" method="get" >
            <input type="text"  id="account-form-name" name="account">
            <input class="btn btn-sm u-btn" id="account-manage-submit-btn" type="button" value="查询"> 
        </form>
    </div>
</div>
<script type="text/javascript" src="__ROOT__/public/js/admin/account_manage.js"></script>