<div class="direction-manage container-wrapper">
    <div class="table-wrapper" id="direction-table-wrapper">
    </div>

    <div class="direction-manage-footer clearfix">
        <input type="button" class="direction-manage-add btn btn-sm u-btn" value="增加" id="add-btn" href="#addDirection" role="button" data-toggle="modal"/>
        <input type="button" class="direction-manage-del btn btn-sm u-btn" value="删除" id="delete-direction-btn" />
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addDirection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="control-group">
            <label class="control-label">方向</label>
            <div class="controls">
              <input  type="text" placeholder="方向" id="new-direction">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >最大容量</label>
            <div class="controls">
              <input type="text" placeholder="最大容量" id="direction-max-num">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >简介</label>
            <div class="controls">
              <input type="text" placeholder="简介" id="direction-intro">
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="add-direction-btn">添加</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript" src="__ROOT__/public/js/admin/direction.js"></script>