/************************
* student Course Manage
*************************/
#student-course-search-form {
	margin: 30px 0;
}

#student-course-search-form .form-item-name {
	float: left;
}

#student-course-search-form select {
	float: student-left;
	margin-right: 5px;
	padding-left: 5px;
	width: 150px;
}

#student-course-manage-table {
	background-color: #fff;
	margin: 0px 0px 20px 0px;
	width: 100%;
}

/*#student-course-manage-table thead tr th {
	background-color: #55a1eb;
	color: #f4f4f4;
	font-weight: normal;
}*/

#student-course-manage-table th,
#student-course-manage-table td {
	border: 1px solid #e8e8e8;
	padding: 5px 10px;
	text-align: left;
}

#student-course-manage-table th {
	border-color: transparent;
}
.course-manage-footer {
	width: 100%;
}

.course-manage-footer .page-nav {
	float: right;
}

.page-current {
	margin: 0 10px;
}