/***************************
* student teacher information
****************************/

.student-teacher-information-page {
	background-color: #F0F6F4;
	height: auto;
	margin: 20px auto;
	min-height: 300px;
	width: 800px;
	padding: 2%;
}

.student-teacher-information-page form {
	width: 96%;
}

.student-teacher-information-page form .form-wrapper {
	background-color: #fff;
	margin-bottom: 20px;
}


.student-teacher-information-page form .form-item {
	float: left;
	height: 30px;
	line-height: 29px;
	width: 50%;
}

.student-teacher-information-page form .form-item .form-item-name,
.student-teacher-information-page form .form-item .form-item-value {
	display: block;
	float: left;
	text-align: left;
	text-indent: 1em;
}

.student-teacher-information-page form .form-item .form-item-name {
	position: relative;
	background-color: #eee;
	border-bottom: 1px solid #fff;
	color: #111;
	width: 35%;
}

.student-teacher-information-page form .form-item .form-item-value {
	border-bottom: 1px solid #e8e8e8;
	width: 65%;
	background-color: #fff;
}

