/************************
* student Course schedule
*************************/
#student-course-schedule-search-form {
	margin: 30px 0;
}

#student-course-schedule-search-form .form-item-name {
	float: left;
}

#student-course-schedule-search-form select {
	float: student-left;
	margin-right: 5px;
	padding-left: 5px;
	width: 150px;
}

#student-course-schedule-table {
	background-color: #fff;
	margin: 20px 0;
	width: 100%;
}

#student-course-schedule-table thead tr th {
	background-color: #55a1eb;
	color: #f4f4f4;
	font-weight: normal;
}

#student-course-schedule-table th,
#student-course-schedule-table td {
	border: 1px solid #e8e8e8;
	padding: 5px 10px;
	text-align: left;
}

#student-course-schedule-table th {
	border-color: transparent;
}